.site-header {
  .container {
    display: flex;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid $borderHeaderColor;
  }
}

.container {
  .site-header__link {
    margin: 24px 0px 24px 0px;
  }
}
.site-header__navigation {
  margin: 32px 0px 32px 93px;
}
.site-header__navigation {
  ul {
    padding: 0px;
  }
}
.site-header__navigation {
  li {
    display: inline;
  }
}
.site-header__navigation {
  li:nth-child(2) {
    margin: 0px 46px 0px 46px;
  }
}
.site-header__contact {
  margin: 0px 0px 0px 371px;
}
.site-header__contact {
  li {
    display: inline;
  }
}
.site-header__svg {
  margin-right: 10px;
  fill: $grey;
  vertical-align: middle;
}
.site-header__contact {
  li:first-child {
    margin: 0px 15px 0px 0px;
  }
}
.site-header__contact {
  li:last-child {
    margin: 0px 0px 0px 15px;
  }
}
.site-header__link--active {
  &:hover svg,
  &:focus svg,
  &:active svg {
    fill: $brandColor;
  }
}

.site-header__link--active {
  @include active {
    color: $brandColor;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }
}
.site-header__logo {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.173;
  font-family: Raleway;
  letter-spacing: 0.03em;
}
.site-header__logo {
  > span {
    color: $brandColor;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.173;
    font-family: Raleway;
    letter-spacing: 0.03em;
  }
}
.site-header__link {
  color: $grey;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
}
.link {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
}
.link--is-active {
  position: relative;
  color: $brandColor;
}
.link--is-active {
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: 45px;
    border-bottom: 2px;
    border-radius: 2px;
    background-color: $brandColor;
    width: 100%;
    height: 4px;
  }
}
.link--active {
  @include active {
    color: $brandColor;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }
}
