.lorem {
  display: flex;
  justify-content: center;
  padding: 0px 15px 0px 15px;
  gap: 30px;
}
.lorem__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.lorem__box {
  width: 270px;
}
.lorem__paragraph {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $grey;
}
.lorem__icon {
  margin-bottom: 30px;
}