$brandColor: #2196f3;
$bgColor: #2f303a;
$bgImgColor: rgba(47, 48, 58, 0.4);
$white: #ffffff;
$iconColor: #afb1b8;
$black: #000;
$grey: #757575;
$borderHeaderColor: #ececec;
$teamBgColor: #f5f4fa;
$slidesBgColor: #eeeeee;

.solutions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 106px 0px;
}
.solutions__bg {
  background-image: linear-gradient(to right, $bgImgColor, $bgImgColor),
    url(../images/header_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 1600px;
  margin: 0 auto;
}
.solutions {
  button {
    background-color: $brandColor;
    color: $white;
    padding: 10px 41px 10px 42px;
    width: 200px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    text-align: center;
    margin: 15px 0px 0px 0px;
  }
}
.solutions {
  button:hover,
  button:focus,
  button:active {
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
