$brandColor: #2196f3;
$bgColor: #2f303a;
$bgImgColor: rgba(47, 48, 58, 0.4);
$white: #ffffff;
$iconColor:#afb1b8;
$black: #000;
$grey: #757575;
$borderHeaderColor: #ececec;
$teamBgColor: #f5f4fa;
$slidesBgColor: #eeeeee;
